<!DOCTYPE html>
<html>
<body>

<h2>PREDICT DIABETES OBSERVED OR NOT</h2>
<h5>THIS PAGE WILL PREDICT WHETHER DIABETES IS OBSERVED OR NOT BASED ON THE INPUT DATA FOR FOLLOWING VARIABLES</h5>
<h5>PLEASE ENTER THE VALUES:</h5>
<form action="/submit" method='post'>
  <label for="Glucose">Glucose:</label><br>
  <input type="text" id="Glucose" name="Glucose" value="0"><br>
  <label for="BloodPressure">BloodPressure:</label><br>
  <input type="text" id="BloodPressure" name="BloodPressure" value="0"><br><br>
  <label for="SkinThickness ">SkinThickness:</label><br>
  <input type="text" id="SkinThickness" name="SkinThickness" value="0"><br><br>
  <label for="Insulin">Insulin:</label><br>
  <input type="text" id="Insulin" name="Insulin" value="0"><br><br>
  <label for="BMI">BMI:</label><br>
  <input type="text" id="BMI" name="BMI" value="0"><br><br>
  <label for="DiabetesPedigreeFunction">DiabetesPedigreeFunction:</label><br>
  <input type="text" id="DiabetesPedigreeFunction" name="DiabetesPedigreeFunction" value="0"><br><br>
  <label for="Age">Age:</label><br>
  <input type="text" id="Age" name="Age" value="0"><br><br>

  <input type="submit" value="SUBMIT_AND_PREDICT_OUTCOME">
</form> 

<p>Click the "SUBMIT_AND_PREDICT_OUTCOME" button, the form-data will be sent to a page with url "/submit".</p>

</body>
</html>

<!-- <label for="Science">Science:</label><br>
<input type="text" id="science" name="science" value="0"><br>
<label for="Maths">Maths:</label><br>
<input type="text" id="maths" name="maths" value="0"><br><br>
<label for="C ">C:</label><br>
<input type="text" id="c" name="c" value="0"><br><br>
<label for="datascience">Data Science:</label><br>
<input type="text" id="datascience" name="datascience" value="0"><br><br>
<input type="submit" value="Submit"> -->